
/*Pestañas*/
#myTabContent{
    background-color: #ffffff;
    padding-top: 20px;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.nav{
    margin-bottom: 0px;
}
/* Structure */
body { background-image:url(../img/background-pattern.png); color:#666666; padding:0 !important;}
.container { min-width:800px !important; }
.nav-container {
    height: 100px;
    margin-bottom: 20px;
    position:fixed;
    width:100%;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    z-index: 1000;
}
.nav-container .govern-logo, .nav-container .aplication-logo, .nav-container .main-menu {padding: 20px 40px 40px 20px;}
.formbox select option:first-child { font-style:italic;}
.main {padding-top: 125px;}

.nav-container { background-color:#ff9523;}
.nav-container .govern-logo{
    margin: 10px 10px 0px 20px;
    padding: 0px 20px 0px 0px;
    border-right: 1px solid #FFFFFF;
}

/* Navigation */
/*min-width:300px !important; */
.navbar {  width:100%;}
.navbar, .navbar a, .navbar .btn, .user-nav, .user-nav a { color:#FFF;}
.navbar .govern-logo{ display:none;}
.navbar-inner { background:none; padding: 0; border:0;  box-shadow:none;}

.navbar .nav { float:right;}
.user-nav { list-style:none; font-weight:bold; font-weight:bold; font-size:12px; margin-right:10px;}
.user-nav > li { float:left; padding-right:5px; margin-right:5px;}
.user-nav > li:last-child { border:none; padding-right:0; margin-right:0;}

.nav-container .aplication-logo{
    padding: 15px 0px 20px 20px;
}

.navigationbar, .navigationbar a { color:#fff;}
.main-nav{padding:12px 0;}

/*Flecha del menú*/
.caret{border-top-color: #ffffff;}

.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

/*Menu*/
.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover{
    color: #ffffff;
    background-color: #FF9523;
    background-repeat: repeat-x;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{
    color: #ffffff;
    background-color: #FF9523;
    background-repeat: repeat-x;
}

.well-dir3caib {
    background-color:#FFF;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    margin: 0 40px;
}


/* Pie de página*/

.govern-footer{
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dir3caib-footer{
    font-weight: bold;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

table th {
    color:#000000;
    background-color: #fff;
    *background-color: #fff;
    background-image: -ms-linear-gradient(top, #f9f9f9, #ededed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#ededed));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ededed);
    background-image: -o-linear-gradient(top, #f9f9f9, #ededed);
    background-image: -moz-linear-gradient(top, #f9f9f9, #ededed);
    background-image: linear-gradient(top, #f9f9f9, #ededed);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ededed', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

/*miga de pan*/
.breadcrumb {
    padding: 7px 14px;
    margin: 0 0 18px;
    list-style: none;
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}
.breadcrumb li {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    text-shadow: 0 1px 0 #ffffff;
}
.breadcrumb .divider {padding: 0 5px;color: #999999;}
.breadcrumb .active a {color: #333333;}

/* Modulos*/
.box{
    border: 1px solid #DEDEDE;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    margin-top: 10px;
    margin-bottom: 10px ;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header{
    border:none;
    padding-top:5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    height:12px;
    min-height:12px;
    margin-bottom: 10px;
    font-weight:bold;
    font-size:16px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );

}

.page-header{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #666666;
}

.box-header h2{
    font-size:15px;
    width:auto;
    clear:none;
    float:left;
    line-height:25px;
    color:#000000;
}
.box-header h3{
    font-size:13px;
    width:auto;
    clear:none;
    float:left;
    line-height:25px;
}
.box-header h2 > i{margin-top:1px;}
.box-icon{float:right;}
.box-icon a{
    clear:none;
    float:left;
    margin:0 2px;
    height: 18px;
    width:5px;
    margin-top: -1px;
}
.box-icon a i{margin-left:-4.5px;}
.box-content{padding:10px;}


/* Columna izquierda */
.mainMenu .thumbnail{
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    background-color: #fafafa;
}

.mainMenu h5{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    padding-bottom: 5px;
}

.mainMenu h4{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    margin-top: 25px;
    padding-bottom: 17px;
}

.mainMenu .thumbnail h4{
    margin-top: 0px;
}

.buttonList button
{
    margin-left: 0px;
    margin-bottom: 10px;
}


/* Alert personalizado*/
.alert-dir3caib {color: #555555;background-color: #d9edf7;border-color: #bce8f1;}

.alert-dir3caib h4 {color: #3a87ad;}

.accordion-group { background-color:#eee;}
.accordion-inner { border:none;}
.accordion-heading { background-image:url(../img/arrow-down.png); background-position:right 14px; background-repeat:no-repeat; margin-right: 14px !important;}
.accordion-heading.open {background-image:url(../img/arrow-up.png);}

.export{float:left;margin-bottom: 20px;}
.expediente{float:right;margin-bottom: 20px;}

[class^="icono-"],
[class*=" icono-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-right:5px;
}
/*Exportar*/
.icono-pdf{background-image: url("../img/pdf.png");}

.icono-xls{background-image: url("../img/xls.png");}

/*Iconos lista calificacionesEdit*/
.calificacion-alumno dt { width:14px;}
.calificacion-alumno dd{ margin-left: 20px;}
.calificacion-alumno { margin-left: 0px;}



/*Estilo para Formularios*/
.fondoBlanco{background-color: #FFFFFF;}
.corto{width:25px;}

.errors-all{
    color: #b94a48;
}


/* Line 1510 */
.control-group.error input, .control-group.error select, .control-group.error textarea
{
    border-top-color: #b94a48;
    border-right-color-value: #b94a48;
    border-bottom-color: #b94a48;
    border-left-color-value: #b94a48;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

/* Line 1519 */
.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus
{
    border-top-color: #953b39;
    border-right-color-value: #953b39;
    border-bottom-color: #953b39;
    border-left-color-value: #953b39;
    box-shadow: #d59392;
}

/* ARBRE ORGANISMES */
.tree {
    min-height:20px;
    margin-bottom:20px;
    background-color:#fff;
    /* border:1px solid #999;
    margin-left: 15px;
    padding-left: 50px;*/
    padding-top: 40px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.tree li {
list-style-type:none;
margin:0;
padding:10px 5px 0 5px;
position:relative;
}
.tree li::before, .tree li::after {
content:'';
left:-20px;
position:absolute;
right:auto;
}
.tree li::before {
border-left:1px solid #999;
bottom:50px;
height:100%;
top:0;
width:1px;
}
.tree li::after {
border-top:1px solid #999;
height:20px;
top:25px;
width:25px;
}
.tree li span {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #999;
border-radius:5px;
display:inline-block;
padding:3px 8px;
text-decoration:none;
}
.tree li.parent_li>span {
cursor:pointer;
}
.tree>ul>li::before, .tree>ul>li::after {
border:0;
}
.tree li:last-child::before {
height:26px;
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
background:#eee;
border:1px solid #94a0b4;
color:#000;
}
.badge-arbre {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 10px;
}
.btn-servei {
color: #fff;
background-color: #ffff00;
border-color: #FFE905;
}
.btn-servei:hover,
.btn-servei:focus,
.btn-servei:active,
.btn-servei.active{
color: #fff;
background-color: #FFE835;
border-color: #FFE744;
}
.btn-llibre {
color: #fff;
background-color: #b374d1;
border-color: #a357c7;
}
.btn-llibre:hover,
.btn-llibre:focus,
.btn-llibre:active,
.btn-llibre.active{
color: #fff;
background-color: #ac5fd0;
border-color: #a357c7;
}
.btn-llibre-llegenda {
color: #fff;
background-color: #b374d1;
border-color: #B267D5;
cursor: default;
}
.btn-llibre-llegenda:hover,
.btn-llibre-llegenda:focus,
.btn-llibre-llegenda:active,
.btn-llibre-llegenda.active{
color: #fff;
background-color: #b374d1;
border-color: #B267D5;
}
.btn-danger-llegenda {
color: #fff;
background-color: #d9534f;
border-color: #d43f3a;
cursor: default;
}
.btn-danger-llegenda:hover,
.btn-danger-llegenda:focus,
.btn-danger-llegenda:active,
.btn-danger-llegenda.active{
color: #fff;
background-color: #d9534f;
border-color: #B267D5;
}
.btn-quart {
color: #fff;
background-color: #b1b0b0;
border-color: #959494;
}
.btn-quart:hover,
.btn-quart:focus,
.btn-quart:active,
.btn-quart.active{
color: #fff;
background-color: #9f9f9f;
border-color: #959494;
}
.btn-ofaux {
color: #999999;
background-color: #FFD700;
border-color: #CBB11B;
}
.btn-ofaux:hover,
.btn-ofaux:focus,
.btn-ofaux:active,
.btn-ofaux.active{
color: #999999;
background-color: #E7C713;
border-color: #CBB11B;
}
.btn-oficinafuncional {
color: #fff;
background-color: #83ef47;
border-color: #7af736;
}
.btn-oficinafuncional:hover,
.btn-oficinafuncional:focus,
.btn-oficinafuncional:active,
.btn-oficinafuncional.active{
color: #fff;
background-color: #73e136;
border-color: #7af736;
}
.btn-edp {
color: #999999;
background-color: #6FF6F5;
border-color: #55CECD;
}
.btn-edp:hover,
.btn-edp:focus,
.btn-edp:active,
.btn-edp.active{
color: #999999;
background-color: #27F6F7;
border-color: #55CECD;
}
.btn-ofsir {
color: #fff;
background-color: #FF99FF;
border-color: #FD61FD;
}
.btn-ofsir:hover,
.btn-ofsir:focus,
.btn-ofsir:active,
.btn-ofsir.active{
color: #fff;
background-color: #FD61FD;
border-color: #E541E5;
}
.btn-primary-llegenda {
color: #fff;
background-color: #337ab7;
border-color: #2e6da4;
cursor: default;
width: 100%;
}
.btn-primary-llegenda:hover,
.btn-primary-llegenda:focus,
.btn-primary-llegenda:active,
.btn-primary-llegenda.active{
color: #fff;
background-color: #286090;
border-color: #122b40;
}
.btn-warning-llegenda {
color: #fff;
background-color: #f0ad4e;
border-color: #eea236;
cursor: default;
width: 100%;
}
.btn-warning-llegenda:hover,
.btn-warning-llegenda:focus,
.btn-warning-llegenda:active,
.btn-warning-llegenda.active{
color: #fff;
background-color: #ec971f;
border-color: #985f0d;
}
.text-gris{
color: #333;
}
a.text-gris:hover,
a.text-gris:focus {
color: #333;
text-decoration: none;
}
.pad-bottom5 {
padding-bottom: 5px;
}
.pad-bottom0 {
    padding-bottom: 0px !important;
}
.pad-top0 {
    padding-top: 0px !important;
}
/* FI ARBRE ORGANISMES */
.btn-arbre{
    margin-left: 90px;
    margin-top: 20px;
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.centrat {
    float: none;
    margin: 0 auto;
}
.centrat-float-left{
    float: left;
}

/* Modal de la imagen de sincronización */
#modalSincro .modal-dialog
{
    width: 100%;
}
.centrat-sincro {
    margin-left: 45%;
}

/* Info per copiar text branca organigrama */
.infoBranca{
    position: absolute;
    margin-left: 30px;
    padding: 0px;
}

/* Leyenda */
.llegenda{
    float: right;
    width: 155px;
    margin-right: 30px;
    position: fixed;
    margin-left: -165px;
}
.button-right {
    float: right !important;
    margin-top: 5px;
}
.llegendaCapsa{
    width: 120px;
    line-height: 1.5;
    border-radius: 4px;
    white-space: normal;
}
.vuitanta-percent {
    max-width: 75%;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    white-space: normal;
    text-align: -webkit-match-parent;
}
/* Fin Leyenda */

.dreta{
    float: right !important;
    margin-bottom: 20px;
}
.margin0{
    margin: 0px;
}
.minAlt{
    min-height: 350px !important;
}

/*  WaitingDialog */
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
    background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
    background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
    background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
    background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
/* FIN WaitingDialog */

/* Información Detalle */
.detalle{
    margin-top: 0px !important;
}
.detalle dt {
    float: left;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.divider {
    border-top: 1px solid;
    margin: 5px -10px 5px -10px;
}
.cabeceraDetalle{
    height: auto;
    overflow: hidden;
    padding-bottom: 0px;
}
/* FIN Información Detalle */
.opcionArbol{
    position: relative !important;
}
.tamany12{
    font-size: 12px !important;
    padding-left: 5px;
    padding-right: 5px;
}