<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>dir3caib-front</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<!-- LOAD-ON-STARTUP SERVLET -->
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>es.caib.dir3caib.front.controller.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>DownloadJson</servlet-name>
		<servlet-class>es.caib.dir3caib.front.controller.DownloadController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DownloadJson</servlet-name>
		<url-pattern>/obtener</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>dir3caib-front</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<!-- No auth-constraint means everybody has access! -->
	</security-constraint>

</web-app>